/* global */
.boxFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* div{
  border: red solid 1px;
} */
input{

  border-radius: 10px;
  width: 200px;
  height: 30px;
}
button{
  width: 100px;
  height: 35px;
}
body{
  margin: 0;
}
h1, h2 {
  color: white;
  }
h1, h2, h3, h4, h5, p{
  font-family: Arial, Helvetica, sans-serif;
}
/* maind container*/
#main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#page-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: gray;
  width: 100%;
  height: 15vh;
}
#page-content{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
}
  #the-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
  }

  #button-div{
    display: flex;
    padding-top: 5px;
    justify-content: center;
  }
    #list-Input{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px;
      width: 100%;
    }
    #div-line{
      height: 1px;
      width: 100%;
      background-color: rgb(109, 109, 109);
    }
    #lineItem{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* align-items: center; */
    }


#page-footer{
  height: 15vh;
  background-color: rgb(49, 49, 49);

}